#top {
  position: absolute;
  top: 0.5%;
  left: 49.8%;
}

body {
  margin: 0;
  font-family: monospace;
}

img.circular {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

header {
  background-color: white;
  color: #333;
  padding: 25px 40px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  top: 0;
  width: 100%;
}

.home {
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  display: flex; 
  align-items: center;
  margin-right: 100px; 
}

.nav-links a {
  left: 650px;
  color: #333;
  text-decoration: none;
  margin-left: 20px;
  padding: 10px;
  margin: 0 10px;
}

.nav-links a:hover {
  text-decoration: none; 
  color: rgb(85, 26, 139); 
  padding-bottom: 5px; 
  border-bottom: 2px solid rgb(85, 26, 139);
}

#name {
  text-align: center; 
  position: absolute; 
  top: 30%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-size: 40px; 
}

.icons {
  text-align: center;
  position: absolute; 
  margin: 20px;
  font-size: 34px;
  top: 38%; 
  left: 48%; 
  transform: translate(-50%, -50%); 
}

.fa-brands.fa-twitter {
  color: rgb(85,26,139);
}

.icons a {
  text-decoration: none;
}

#mainIntroParagraph {
  text-align: center;
  position: absolute;
  top: 50%; 
  left: 49.45%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}

#moreInfo {
  text-align: center;
  position: absolute;
  top: 65%; 
  left: 36%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 20px 40px;
  border: 4px solid;
  border-radius: 10px;
  border-color: rgb(85,26,139);
}

#contact {
  text-align: center;
  position: absolute;
  top: 65%; 
  left: 61.25%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 20px 40px;
  border: 4px solid;
  border-radius: 10px;
  border-color: rgb(85,26,139);
}

#arrowDown {
  position: absolute;
  top: 85%; 
  left: 49.15%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

#infoText {
  text-align: center;
  position: absolute;
  top: 154%; 
  left: 49.15%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  margin-top: 75px;
}

#info {
  position: absolute;
  top: 90.5%;
  left: 42.8%;
}

#photoOfMe {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 105%;
  left: 42.8%;
  border-radius: 50%;
}

#platforms {
  text-align: center;
  position: absolute;
  top: 225%; 
  left: 49.15%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 20px 40px;
  border: 4px solid;
  border-radius: 10px;
  border-color: rgb(85,26,139);
}

#platformsAnchor {
  position: absolute;
  top: 200.5%;
  left: 49.8%;
}

#dataScience {
    text-align: center;
    position: absolute;
    top: 237.4%;
    left: 29.85%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 20px 40px;
}

#dataScienceImage {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 214.4%;
  left: 24.8%;
  border-radius: 50%;
}

#dataViz {
  text-align: center;
  position: absolute;
  top: 237.275%;
  left: 69.85%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 20px 40px;
}

#dataVizImage {
width: 150px;
height: 150px;
position: absolute;
top: 214.3%;
left: 64.3%;
border-radius: 50%;
border: 1px solid;
}

#AI {
  position: absolute;
  top: 211.5%;
  left: 6.5%;
  font-size: 15px;
}

#ML {
  position: absolute;
  top: 221.5%;
  left: 6.5%;
  font-size: 15px;
}

#SA {
  position: absolute;
  top: 231.5%;
  left: 6.5%;
  font-size: 15px;
}

#plus1 {
  position: absolute;
  top: 222.865%;
  left: 21.5%;
  font-size: 25px;
  color: rgb(85,26,139);
}

#plus2 {
  position: absolute;
  top: 234%;
  left: 48.6%;
  font-size: 25px;
  color: rgb(85,26,139);
}

#plus3 {
  position: absolute;
  top: 222.865%;
  left: 77%;
  font-size: 25px;
  color: rgb(85,26,139);
}

#TAB {
  position: absolute;
  top: 228.5%;
  left: 80.5%;
  font-size: 15px;
}

#PBI {
  position: absolute;
  top: 214.5%;
  left: 80.5%;
  font-size: 15px;
}

#scrollDestination {
  position: absolute;
  top: 200.5%;
  left: 48.6%;
}

#python {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 260.5%;
  left: 46.7%;
  border-radius: 50%;
}

#html {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 260.5%;
  left: 56.7%;
  border-radius: 50%;
}

#css {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 260.5%;
  left: 66.7%;
  border-radius: 50%;
}

#javaScript {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 260.5%;
  left: 76.7%;
  border-radius: 50%;
}

#rStudio {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 260.5%;
  left: 36.7%;
  border-radius: 50%;
}

#sql {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 260.5%;
  left: 26.7%;
  border-radius: 50%;
}

#matlab {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 260.5%;
  left: 16.7%;
  border-radius: 50%;
}

#cpp {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 260.5%;
  left: 86.7%;
  border-radius: 50%;
}

#java {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 260.5%;
  left: 6.7%;
  border-radius: 50%;
}

#projectsAnchor {
  position: absolute;
  top: 290.5%;
  left: 42.8%;
}

#projectsInfo {
  position: absolute;
  top: 282.5%;
  left: 36.5%;
  font-size: 18px;
}

#projectsInfo2 {
  position: absolute;
  top: 285.5%;
  left: 39.5%;
  font-size: 18px;
  color: gray;
}

#arrowDown2 {
  position: absolute;
  top: 295.5%;
  left: 48.8%;
  font-size: 28px;
}

#pneumoniaAI {
  width: 380px;
  height: 200px;
  position: absolute;
  top: 307.5%;
  left: 4.7%;
  border: 4px solid;
  border-radius: 10px;
  border-color: black;
}

#pneumoniaHeading {
  width: 280px;
  height: 200px;
  position: absolute;
  top: 335.25%;
  left: 4.7%;
  text-align: left; 
  font-family: serif;
  font-weight: 550;
  font-size: 20px;
}

#python1 {
  position: absolute;
  top: 340.3%;
  left: 4.71%;
  text-align: left; 
  font-family: serif;
  font-size: 12px; /* Adjust the font size as needed */
  line-height: 23px;
  color: blue;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(153, 204, 255);
  background-color: rgb(153, 204, 255);
}

#keras1 {
  position: absolute;
  top: 340.3%;
  left: 8.71%;
  text-align: left; 
  font-family: serif;
  font-size: 12px; /* Adjust the font size as needed */
  line-height: 23px;
  color: blue;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(153, 204, 255);
  background-color: rgb(153, 204, 255);
}

#sequentialModel1 {
  position: absolute;
  top: 340.3%;
  left: 12.31%;
  text-align: left; 
  font-family: serif;
  font-size: 12px; /* Adjust the font size as needed */
  line-height: 23px;
  color: blue;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(153, 204, 255);
  background-color: rgb(153, 204, 255);
}

#cnn1 {
  position: absolute;
  top: 340.3%;
  left: 19.71%;
  text-align: left; 
  font-family: serif;
  font-size: 12px; /* Adjust the font size as needed */
  line-height: 23px;
  color: blue;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(153, 204, 255);
  background-color: rgb(153, 204, 255);
}

#pneumoniaAIInfo {
  width: 280px;
  height: 200px;
  position: absolute;
  top: 344.2%;
  left: 4.7%;
  text-align: left; 
  font-family: serif;
}

#readMore1 {
  width: 90px;
  height: 60px;
  position: absolute;
  top: 352.7%;
  left: 4.7%;
  text-align: left; 
  font-family: serif;
}

#lipReader {
  width: 380px;
  height: 200px;
  position: absolute;
  top: 359.9%;
  left: 4.7%;
  border: 4px solid;
  border-radius: 10px;
  border-color: black;
}

#lipReaderHeading {
  width: 280px;
  height: 200px;
  position: absolute;
  top: 360.25%;
  left: 32.2%;
  text-align: left; 
  font-family: serif;
  font-weight: 550;
  font-size: 20px;
}

#python4 {
  position: absolute;
  top: 365.5%;
  left: 32.2%;
  text-align: left; 
  font-family: serif;
  font-size: 12px; /* Adjust the font size as needed */
  line-height: 23px;
  color: blue;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(153, 204, 255);
  background-color: rgb(153, 204, 255);
}

#tensorflow4 {
  position: absolute;
  top: 365.5%;
  left: 35.92%;
  text-align: left; 
  font-family: serif;
  font-size: 12px; /* Adjust the font size as needed */
  line-height: 23px;
  color: blue;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(153, 204, 255);
  background-color: rgb(153, 204, 255);
}

#openCV4 {
  position: absolute;
  top: 365.5%;
  left: 41.34%;
  text-align: left; 
  font-family: serif;
  font-size: 12px; /* Adjust the font size as needed */
  line-height: 23px;
  color: blue;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(153, 204, 255);
  background-color: rgb(153, 204, 255);
}

#ctc4 {
  position: absolute;
  top: 365.6%;
  left: 45.8%;
  text-align: left; 
  font-family: serif;
  font-size: 12px; /* Adjust the font size as needed */
  line-height: 23px;
  color: blue;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(153, 204, 255);
  background-color: rgb(153, 204, 255);
}

#lipReaderInfo {
  width: 280px;
  height: 200px;
  position: absolute;
  top: 369.2%;
  left: 32.2%;
  text-align: left; 
  font-family: serif;
}

#readMore4 {
  width: 90px;
  height: 20px;
  position: absolute;
  top: 377.7%;
  left: 32.2%;
  text-align: left; 
  font-family: serif;
}

#commentToxicity {
  width: 380px;
  height: 200px;
  position: absolute;
  top: 307.5%;
  left: 36.7%;
  border: 4px solid;
  border-radius: 10px;
  border-color: black;
}

#commentToxicityHeading {
  width: 280px;
  height: 200px;
  position: absolute;
  top: 335.25%;
  left: 36.7%;
  text-align: left; 
  font-family: serif;
  font-weight: 550;
  font-size: 20px;
}

#python2 {
  position: absolute;
  top: 340.4%;
  left: 36.71%;
  text-align: left; 
  font-family: serif;
  font-size: 12px; /* Adjust the font size as needed */
  line-height: 23px;
  color: blue;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(153, 204, 255);
  background-color: rgb(153, 204, 255);
}

#keras2 {
  position: absolute;
  top: 340.4%;
  left: 40.71%;
  text-align: left; 
  font-family: serif;
  font-size: 12px; /* Adjust the font size as needed */
  line-height: 23px;
  color: blue;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(153, 204, 255);
  background-color: rgb(153, 204, 255);
}

#vectorizer2 {
  position: absolute;
  top: 340.4%;
  left: 44.2%;
  text-align: left; 
  font-family: serif;
  font-size: 12px; /* Adjust the font size as needed */
  line-height: 23px;
  color: blue;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(153, 204, 255);
  background-color: rgb(153, 204, 255);
}

#lp2 {
  position: absolute;
  top: 340.4%;
  left: 49.2%;
  text-align: left; 
  font-family: serif;
  font-size: 12px; /* Adjust the font size as needed */
  line-height: 23px;
  color: blue;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(153, 204, 255);
  background-color: rgb(153, 204, 255);
}

#commentToxicityInfo {
  width: 280px;
  height: 200px;
  position: absolute;
  top: 344.04%;
  left: 36.7%;
  text-align: left;
  font-family: serif;
}

#readMore2 {
  width: 90px;
  height: 20px;
  position: absolute;
  top: 352.7%;
  left: 36.7%;
  text-align: left; 
  font-family: serif;
}

#marioAI {
  width: 380px;
  height: 200px;
  position: absolute;
  top: 307.5%;
  left: 68.7%;
  border: 4px solid;
  border-radius: 10px;
  border-color: black;
}

#marioAIHeading {
  width: 280px;
  height: 200px;
  position: absolute;
  top: 335.25%;
  left: 68.7%;
  text-align: left; 
  font-family: serif;
  font-weight: 550;
  font-size: 20px;
}

#python3 {
  position: absolute;
  top: 340.3%;
  left: 68.71%;
  text-align: left; 
  font-family: serif;
  font-size: 12px; /* Adjust the font size as needed */
  line-height: 23px;
  color: blue;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(153, 204, 255);
  background-color: rgb(153, 204, 255);
}

#openAI3 {
  position: absolute;
  top: 340.3%;
  left: 72.71%;
  text-align: left; 
  font-family: serif;
  font-size: 12px; /* Adjust the font size as needed */
  line-height: 23px;
  color: blue;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(153, 204, 255);
  background-color: rgb(153, 204, 255);
}

#reinforcementLearning3 {
  position: absolute;
  top: 340.3%;
  left: 78.9%;
  text-align: left; 
  font-family: serif;
  font-size: 12px; /* Adjust the font size as needed */
  line-height: 23px;
  color: blue;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(153, 204, 255);
  background-color: rgb(153, 204, 255);
}

#stableBaselines3 {
  position: absolute;
  top: 340.3%;
  left: 88.8%;
  text-align: left; 
  font-family: serif;
  font-size: 12px; /* Adjust the font size as needed */
  line-height: 23px;
  color: blue;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(153, 204, 255);
  background-color: rgb(153, 204, 255);
}

#marioAIInfo {
  width: 280px;
  height: 200px;
  position: absolute;
  top: 343.86%;
  left: 68.7%;
  text-align: left; 
  font-family: serif;
}

#readMore3 {
  width: 90px;
  height: 20px;
  position: absolute;
  top: 352.7%;
  left: 68.7%;
  text-align: left; 
  font-family: serif;
}

#datavizProject {
  width: 380px;
  height: 200px;
  position: absolute;
  top: 359.9%;
  left: 51.2%;
  border: 4px solid;
  border-radius: 10px;
  border-color: black;
}

#datavizHeading {
  width: 280px;
  height: 200px;
  position: absolute;
  top: 360.25%;
  left: 78.7%;
  text-align: left; 
  font-family: serif;
  font-weight: 550;
  font-size: 20px;
}

#eda5 {
  position: absolute;
  top: 365.5%;
  left: 78.7%;
  text-align: left; 
  font-family: serif;
  font-size: 12px; /* Adjust the font size as needed */
  line-height: 23px;
  color: blue;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(153, 204, 255);
  background-color: rgb(153, 204, 255);
}

#tableau5 {
  position: absolute;
  top: 365.5%;
  left: 81.9%;
  text-align: left; 
  font-family: serif;
  font-size: 12px; /* Adjust the font size as needed */
  line-height: 23px;
  color: blue;
  border: 2px solid;
  border-radius: 10px;
  border-color: rgb(153, 204, 255);
  background-color: rgb(153, 204, 255);
}

#datavizInfo {
  width: 280px;
  height: 200px;
  position: absolute;
  top: 369.2%;
  left: 78.7%;
  text-align: left; 
  font-family: serif;
}

#readMore5 {
  width: 90px;
  height: 20px;
  position: absolute;
  top: 377.7%;
  left: 78.7%;
  text-align: left; 
  font-family: serif;
}


#projectsEnd {
  position: absolute;
  font-size: 15px;
  top: 380.5%;
  left: 5%;
  text-align: center; 
}

#certificationsAnchor {
  position: absolute;
  top: 383.5%;
  left: 49.8%;
}

#azure {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 420.5%;
  left: 26.4%;
}

#aws {
  width: 300px;
  height: 250px;
  position: absolute;
  top: 420.5%;
  left: 55.6%;
}

#contactAnchor {
  position: absolute;
  top: 480.5%;
  left: 49.8%;
}

#contactDiv {
  position: absolute;
  top: 495.5%;
  left: 44%;
  font-size: 38px;
  border-bottom: 2px solid rgb(85,26,139);
}

#contactInfoText {
  position: absolute;
  font-size: 20px;
  top: 510.5%;
  left: 16.8%;
  text-align: center; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#finalLinkedIn {
  text-align: center;
  position: absolute;
  top: 545%; 
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 20px 40px;
  border: 4px solid;
  border-radius: 10px;
  border-color: rgb(85,26,139);
  color: black;
}

#finalTwitter {
  text-align: center;
  position: absolute;
  top: 545%; 
  left: 49.625%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 20px 40px;
  border: 4px solid;
  border-radius: 10px;
  border-color: rgb(85,26,139);
  color: black;
}

#finalGitHub {
  text-align: center;
  position: absolute;
  top: 545%; 
  left: 68.2%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 20px 40px;
  border: 4px solid;
  border-radius: 10px;
  border-color: rgb(85,26,139);
  color: black;
}

#email {
  color: blue;
  border-bottom: 1px solid;
}

#contact {
  color: black;
}

#moreInfo {
  color: black;
}

#testdiv {
  position: absolute;
  background-color: #888; /* Gray color for the bar */
  height: 40px; /* Adjust the height as needed */
  top: 570%;
  width: 100%;
}

#certificationsLabel {
  position: absolute;
  font-size: 28px;
  top: 394.1%;
  left: 42.3%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#azureLabel {
  position: absolute;
  font-size: 28px;
  top: 457.5%;
  left: 31.5%;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#awsLabel {
  position: absolute;
  font-size: 28px;
  top: 456.3%;
  left: 69.28%;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#edx {
  width: 150px;
  height: 100px;
  position: absolute;
  top: 403.75%;
  left: 6.62%;
}

/*

#edxLabel {
  position: absolute;
  font-size: 28px;
  top: 419.3%;
  left: 12.28%;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*/

#mit {
  width: 240px;
  height: 120px;
  position: absolute;
  top: 465.5%;
  left: 3.5%;
}

#lc {
  width: 250px;
  height: 100px;
  position: absolute;
  top: 403.5%;
  left: 77.75%;
}

#kaggle {
  width: 230px;
  height: 80px;
  position: absolute;
  top: 467.2%;
  left: 78.6%;
}

/*

#mitLabel {
  position: absolute;
  font-size: 28px;
  top: 476.3%;
  left: 10.8%;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*/

.icons2 {
  text-align: center;
  position: absolute; 
  margin: 20px;
  font-size: 30px;
  top: 435%; 
  left: 48.25%; 
  transform: translate(-50%, -50%); 
}

.icons3 {
  text-align: center;
  position: absolute; 
  margin: 20px;
  font-size: 25px;
  top: 439.5%; 
  left: 10.2%; 
  transform: translate(-50%, -50%); 
}

.icons4 {
  text-align: center;
  position: absolute; 
  margin: 20px;
  font-size: 25px;
  top: 426.235%; 
  left: 84.75%; 
  transform: translate(-50%, -50%); 
}

.icons5 {
  text-align: center;
  position: absolute; 
  margin: 20px;
  font-size: 25px;
  top: 458.25%; 
  left: 84.75%; 
  transform: translate(-50%, -50%); 
}

#AZ-900 {
  font-size: 15px;
}

#AI-900 {
  font-size: 15px;
}

#DP-100 {
  font-size: 15px;
}

#edx1 {
  font-size: 15px;
}

#edx2 {
  font-size: 15px;
}

#mit1 {
  font-size: 15px;
}

#lc1 {
  font-size: 15px;
}

#kaggle1 {
  font-size: 15px;  
}

@media only screen and (min-width: 767px) {
  .nav-container2 {
    display: none;
  }

  .home-link2 {
    display:none;
  }

}

@media only screen and (max-width: 768px) {

  
  .nav-container {
    display: none;
  }

  .home {
    display: none;
  }
  
  .home-link2 {
    position: fixed;
    top: 6.875%;
    left: 10%;
    font-size: 28px;
    font-weight: bold;
    z-index: 1001;
  }

  .nav-links {
  display: none;
  }

  .dropdown {
    position: absolute;
    display: inline-block;
    right: 20%; 
    top: 90%; 
    z-index: 1001;
  }

  .dropbtn {
    display: block; 
    background-color: transparent;
    position: absolute;
    color: rgb(85, 26, 139);
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 10px;
    right: 5%; 
    top: 80%; 
    z-index: 1001;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    right: 0; 
    width: 200px; 
  }

  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    text-align: left; 
  }

  .dropdown-content a:hover {
    background-color: rgb(85, 26, 139);
    color: #fff;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  body::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px; /* Set the height as needed */
    background-color: white;
    z-index: 1000; /* Ensure it's above other elements */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box-shadow */
  }

  #mainIntroParagraph {
    text-align: center;
    position: absolute;
    top: 52%; 
    left: 49.45%;
    transform: translate(-50%, -50%);
    font-size: 15px;
  }

  #moreInfo {
    text-align: center;
    position: absolute;
    top: 65%;
    left: 28%;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(85,26,139);
  }

  #contact {
    text-align: center;
    position: absolute;
    top: 65%;
    left: 69%;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(85,26,139);
  }

  #photoOfMe {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 95%;
    left: 31%;
    border-radius: 50%;
  }

  #dataScience {
    text-align: center;
    position: absolute;
    top: 230.4%;
    left: 13.25%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    padding: 20px 40px;
}

  #dataScienceImage {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 219.75%;
    left: 5.8%;
    border-radius: 50%;
}

#dataViz {
  text-align: center;
  position: absolute;
  top: 232.1%;
  left: 90.1%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  padding: 20px 40px;
}

#dataVizImage {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 219.75%;
  left: 83.1%;
  border-radius: 50%;
  border: 1px solid;
}

#python {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 260.5%;
  left: 46.7%;
  border-radius: 50%;
}

#html {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 260.5%;
  left: 56.7%;
  border-radius: 50%;
}

#css {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 260.5%;
  left: 66.7%;
  border-radius: 50%;
}

#javaScript {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 260.5%;
  left: 76.7%;
  border-radius: 50%;
}

#rStudio {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 260.5%;
  left: 36.7%;
  border-radius: 50%;
}

#sql {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 260.5%;
  left: 26.7%;
  border-radius: 50%;
}

#matlab {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 260.5%;
  left: 16.7%;
  border-radius: 50%;
}

#cpp {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 260.5%;
  left: 86.7%;
  border-radius: 50%;
}

#java {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 260.5%;
  left: 6.7%;
  border-radius: 50%;
}

#plus1 {
  display: none;
}

#plus3 {
  display: none;
}

#projectsInfo {
  position: absolute;
  top: 282.5%;
  left: 22.5%;
  font-size: 13.5px;
}

#projectsInfo2 {
  position: absolute;
  top: 285.5%;
  left: 28.5%;
  font-size: 13.5px;
  color: gray;
}

#pneumoniaAI {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 303.75%;
  left: 4.7%;
}

#pneumoniaAIInfo {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 322.9%;
  left: 4.7%;
  text-align: center; 
  font-size: 12px;
}

#lipReader {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 358.5%;
  left: 26.4%;
}

#lipReaderInfo {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 341.5%;
  left: 26.4%;
  text-align: center; 
  font-size: 12px;
}

#commentToxicity {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 303.75%;
  left: 53.7%;
}

#commentToxicityInfo {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 322.9%;
  left: 53.7%;
  text-align: center;
  font-size: 12px;
}

#marioAI {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 358.5%;
  left: 76.4%;
}

#marioAIInfo {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 343.5%;
  left: 76.4%;
  text-align: center; 
  font-size: 12px;
}

#projectsEnd {
  position: absolute;
  font-size: 12px;
  top: 380.5%;
  left: 5%;
  text-align: center; 
}

#arrowDown2 {
  position: absolute;
  top: 295.5%;
  left: 47.4%;
  font-size: 28px;
}

#certificationsLabel {
  position: absolute;
  font-size: 18px;
  top: 400.1%;
  left: 36.5%;
  text-align: center;
}

#azure {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 428.75%;
  left: 9.1%;
}

#aws {
  width: 150px;
  height: 100px;
  position: absolute;
  top: 430.5%;
  left: 60.75%;
}

.icons2 {
  text-align: center;
  position: absolute; 
  margin: 20px;
  font-size: 30px;
  top: 435%; 
  left: 47.9%; 
  transform: translate(-50%, -50%); 
}

#azureLabel {
  position: absolute;
  font-size: 20px;
  top: 450.5%;
  left: 18%;
  text-align: center;
}

#awsLabel {
  position: absolute;
  font-size: 20px;
  top: 450%;
  left: 78%;
  text-align: center;
}

#contactDiv {
  position: absolute;
  top: 495.5%;
  left: 34%;
  font-size: 38px;
  border-bottom: 2px solid rgb(85,26,139);
}

#contactInfoText {
  position: absolute;
  font-size: 17.5px;
  top: 510.5%;
  left: 9.8%;
  text-align: center; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#finalLinkedIn {
  text-align: center;
  position: absolute;
  top: 545%; 
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  padding: 10px 20px;
  border: 4px solid;
  border-radius: 10px;
  border-color: rgb(85,26,139);
  color: black;
}

#finalTwitter {
  text-align: center;
  position: absolute;
  top: 545%; 
  left: 51.625%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  padding: 10px 20px;
  border: 4px solid;
  border-radius: 10px;
  border-color: rgb(85,26,139);
  color: black;
}

#finalGitHub {
  text-align: center;
  position: absolute;
  top: 545%; 
  left: 76.2%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  padding: 10px 20px;
  border: 4px solid;
  border-radius: 10px;
  border-color: rgb(85,26,139);
  color: black;
}


}

